@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  color: #ffffff;
}

.text-xxs {
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.text-shadow {
  text-shadow: 1px 3px 5px #33333370;
}

.card-shadow {
  box-shadow: -8px 10px 15px #ffffff51;
}

.yellow-shadow-image {
  box-shadow: -40px 30px 40px #ff9d007f;
}

.bg-card-3d {
  background: #cc7e00;
  background: linear-gradient(180deg, #cc7e00 0%, #cc5500 100%);
}

/* swiper style */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: auto !important;
  height: auto !important;
  position: unset !important;
}

/* number input style */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* scrollbar style */
.scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 12px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 100vh;
  border: 3px solid #f7f4ed;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff6c01;
}

/* loader style */
.loader {
  width: 50px;
  height: 50px;
  border: 3px solid #f7f4ed;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ff6c01 transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .button-gradient {
    @apply flex items-center gap-2 rounded-3xl bg-gradient-to-r from-yellow to-orange hover:from-orange hover:to-yellow;
  }
  .text-gradient {
    @apply inline-block font-extrabold text-transparent bg-gradient-to-r from-yellow to-orange bg-clip-text;
  }
  .input-form {
    @apply bg-gray-50 border border-gray-300 text-dark text-sm sm:text-base rounded-lg focus:ring-blue focus:border-blue w-full p-2.5 outline-none;
  }
  .landing-card-price {
    @apply relative flex flex-col max-w-full gap-4 p-8 overflow-hidden text-center duration-300 shadow-none sm:max-w-sm md:max-w-md lg:max-w-xs min-w-72 rounded-3xl bg-light lg:hover:-translate-y-16 hover:shadow-2xl hover:bg-yellow;
  }
  .home-card-service {
    @apply flex flex-col justify-center gap-4 p-4 duration-300 bg-gradient-to-b from-yellow to-orange rounded-3xl h-64 lg:h-72 -translate-x-1.5 -translate-y-1.5 lg:group-hover:-translate-x-4 lg:group-hover:-translate-y-4;
  }
  .price-card-product {
    @apply relative flex-1 w-full overflow-hidden duration-300 rounded-lg shadow-2xl max-w-80 sm:rounded-3xl bg-light;
  }
  .price-card-service {
    @apply relative flex-1 w-full overflow-hidden text-center duration-300 rounded-lg shadow-2xl max-w-80 sm:rounded-3xl bg-light hover:bg-yellow;
  }
  .triangle-core {
    @apply hidden lg:block absolute left-1/2 -translate-x-1/2 size-0 border-l-[35px] border-l-transparent border-t-[60px] border-t-orange border-r-[35px] border-r-transparent;
  }
  .footer-container {
    @apply flex flex-col items-center justify-center gap-8 pt-16 pb-12 overflow-hidden text-center lg:items-start lg:gap-24 lg:flex-row md:text-start;
  }
  .home-hero-container {
    @apply flex flex-col-reverse items-center justify-center gap-16 pt-24 pb-8 min-h-500 lg:min-h-screen lg:pt-0 lg:items-end lg:flex-row 2xl:min-h-600;
  }
  .popular-label-price {
    @apply absolute top-0 right-0 px-4 py-1 uppercase sm:py-2 text-xxs sm:text-xs md:py-1 md:top-4 md:left-4 bg-orange rounded-es-2xl md:rounded-2xl w-max;
  }
  .link-product-price {
    @apply flex items-center gap-2 px-2 py-1 text-xs font-bold border sm:text-sm sm:px-4 md:px-6 sm:py-2 w-max rounded-4xl bg-light text-orange border-orange;
  }
  .link-service-price {
    @apply mt-2 sm:mt-4 text-xs md:text-base py-1.5 lg:py-2.5 font-medium duration-300 shadow-lg w-full rounded-lg lg:rounded-2xl bg-orange text-light;
  }
}
