@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  color: #ffffff;
}

.text-xxs {
  font-size: 0.625rem;
  line-height: 0.75rem;
}

.text-shadow {
  text-shadow: 1px 3px 5px #33333370;
}

.card-shadow {
  box-shadow: -8px 10px 15px #ffffff51;
}

.yellow-shadow-image {
  box-shadow: -40px 30px 40px #ff9d007f;
}

.bg-card-3d {
  background: #cc7e00;
  background: linear-gradient(180deg, #cc7e00 0%, #cc5500 100%);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "" !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: auto !important;
  height: auto !important;
  position: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.table-scrollbar::-webkit-scrollbar {
  width: 20px;
  height: 12px;
}

.table-scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 100vh;
  border: 3px solid #f7f4ed;
}

.table-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ff6c01;
}

@layer components {
  .button-gradient {
    @apply flex items-center gap-2 rounded-3xl bg-gradient-to-r from-yellow to-orange hover:from-orange hover:to-yellow;
  }
  .text-gradient {
    @apply inline-block font-extrabold text-transparent bg-gradient-to-r from-yellow to-orange bg-clip-text;
  }
  .input-form {
    @apply bg-gray-50 border border-gray-300 text-dark text-sm sm:text-base rounded-lg focus:ring-blue focus:border-blue w-full p-2.5 outline-none;
  }
  .landing-card-price {
    @apply relative flex flex-col flex-1 max-w-full gap-4 p-8 overflow-hidden text-center duration-300 shadow-none sm:max-w-sm md:max-w-md lg:max-w-xs min-w-72 rounded-3xl bg-light lg:hover:-translate-y-16 hover:shadow-2xl hover:bg-yellow;
  }
  .home-card-service {
    @apply flex flex-col justify-center gap-4 p-4 duration-300 bg-gradient-to-b from-yellow to-orange rounded-3xl h-64 lg:h-72 -translate-x-1.5 -translate-y-1.5 lg:group-hover:-translate-x-4 lg:group-hover:-translate-y-4;
  }
  .price-card-product {
    @apply relative flex flex-col flex-1 w-full overflow-hidden duration-300 shadow-2xl max-w-80 rounded-3xl bg-light;
  }
  .price-card-service {
    @apply relative flex flex-col flex-1 w-full p-4 overflow-hidden text-center duration-300 rounded-lg shadow-2xl sm:p-8 max-w-80 sm:rounded-3xl bg-light hover:bg-yellow;
  }
}
